main .garanty p {
    display: inline-block;
  }

  .contenedor-garanty {
    margin: 50px 0;
    text-align: center;
  }

  .img-garanty {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }

  .garanty1, .garanty2, .garanty3 {
    display: inline-block;
  }

  .contenedor1-section {
    display: inline-block;
    width: 100vw;
    margin-top: 30px;

    .section p {
      display: inline-block;
      text-align: end;
    }

    .section2 {
      text-align: end;
    }
  }

  .section img {
    width: 400px;
  }

  .text-gallery {
    text-align: center;
    font-size: 4rem;
    margin-top: 50px;
  }

  .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .box {
      width: 600px;
      // border: 5px solid red;
      text-align: center;
      

    }

    img {
      max-width: 500px;
      height: 350px;
      object-fit: cover;
    }
  }
